USE [master]
GO
/****** Object:  Database [dbAgroFlor]    Script Date: 24/6/2020 16:33:13 ******/
CREATE DATABASE [dbAgroFlor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbAgroFlor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ASOVSQLSERVER\MSSQL\DATA\dbAgroFlor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbAgroFlor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ASOVSQLSERVER\MSSQL\DATA\dbAgroFlor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbAgroFlor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbAgroFlor]
GO
/****** Object:  Table [dbo].[config]    Script Date: 24/6/2020 16:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[config](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medidas] [varchar](200) NOT NULL,
	[tallos_bonche] [int] NOT NULL,
 CONSTRAINT [PK_config] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[floricola]    Script Date: 24/6/2020 16:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[floricola](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[config_id] [int] NOT NULL,
 CONSTRAINT [PK_floricola] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro]    Script Date: 24/6/2020 16:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[variedad_id] [int] NOT NULL,
	[floricola_id] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[bonche_med] [varchar](200) NULL,
	[precio_tall_exp] [float] NULL,
	[tall_nacional] [int] NULL,
	[total_tallos] [int] NULL,
	[precio_nac] [float] NULL,
 CONSTRAINT [PK_registro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[variedades]    Script Date: 24/6/2020 16:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[variedades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[total_matas] [int] NOT NULL,
 CONSTRAINT [PK_variedades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[floricola]  WITH CHECK ADD  CONSTRAINT [FK_floricola_config] FOREIGN KEY([config_id])
REFERENCES [dbo].[config] ([id])
GO
ALTER TABLE [dbo].[floricola] CHECK CONSTRAINT [FK_floricola_config]
GO
ALTER TABLE [dbo].[registro]  WITH CHECK ADD  CONSTRAINT [FK_registro_floricola] FOREIGN KEY([floricola_id])
REFERENCES [dbo].[floricola] ([id])
GO
ALTER TABLE [dbo].[registro] CHECK CONSTRAINT [FK_registro_floricola]
GO
ALTER TABLE [dbo].[registro]  WITH CHECK ADD  CONSTRAINT [FK_registro_variedades] FOREIGN KEY([variedad_id])
REFERENCES [dbo].[variedades] ([id])
GO
ALTER TABLE [dbo].[registro] CHECK CONSTRAINT [FK_registro_variedades]
GO
USE [master]
GO
